<%= form_for(@subdivision) do |f| %>
  <% if @subdivision.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subdivision.errors.count, "error") %> prohibited this subdivision from being saved:</h2>

      <ul>
      <% @subdivision.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :division_code %><br />
    <%= f.text_field :division_code %>
  </div>
  <div class="field">
    <%= f.label :division_id %><br />
    <%= f.number_field :division_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
