<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @group.code %>
</p>

<p>
  <b>Description:</b>
  <%= @group.description %>
</p>

<p>
  <b>Subdivision code:</b>
  <%= @group.subdivision_code %>
</p>

<p>
  <b>Subdivision:</b>
  <%= @group.subdivision_id %>
</p>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
