<h3><%= @classification.code %>: <%= @classification.description %></h3>
<dl class="dl-horizontal">
  <dt>Code</dt>
  <dd><%= @classification.code %></dd>
  
  <dt>Description</dt>
  <dd><%= @classification.description %></dd>
    
  <dt>Primary Activities</dt>
  <% @primary_activities.each do |primary_activity| %>
    <dd><%= primary_activity.description %></dd>
  <% end %>
</dl>