<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @primary_activity.description %>
</p>

<p>
  <b>Classification code:</b>
  <%= @primary_activity.classification_code %>
</p>

<p>
  <b>Classification:</b>
  <%= @primary_activity.classification_id %>
</p>


<%= link_to 'Edit', edit_primary_activity_path(@primary_activity) %> |
<%= link_to 'Back', primary_activities_path %>
